<div class="container">
  <h1>Players
    <a [routerLink]="['/player-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Team name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.name }}</td>
      <td>{{ player.surname }}</td>
      <td>{{ player.teamName }}</td>
      <td><a [routerLink]="['/player-detail', player.id]">Show Detail</a></td>
    </tr>
    </tbody>
  </table>
</div>
